/*ini adalah style jumbotron*/
.jumbotron {
    background-image: url(img/img.jpg);
    background-size: cover;
    height: 770px;
    text-align: center;
    margin-top: -120px;
}

.jumbotron .display-4 {
    margin-top: 230px;
}

.jumbotron .btn {
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 40px;
}


/* ini adalah style slider carousel */
.carousel-item {
    height: 660px;
}

.carousel-item img {
    margin-top: -10px;
}

.carousel-item .display-4 {
    margin-top: -450px;
}

section {
	min-height: 600px;
}

.container .row {
    /* margin-top: 100px; */
    height: 550px;
}


.about {
    /* margin-top: 150px; */
    background-color: #FFFAFA;
    background-image: url('img2.png');
  }


.services {
   background-color: #FFF0F5;
   background-image: url('img2.png');
 }

 .booking {
    background-color: #FFFAFA;
    background-image: url('img2.png');
    text-align: center;
  }


.product {
   background-color: #FFF0F5;
   background-image: url('img2.png');
 }


 .contact {
    background-color: #FFFAFA;
    background-image: url('img2.png');
  }
  


/* parallax */
.content {
    color: #262626;
    background-size: 49% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  

  .right {
    padding: 1.618em 6.472em 3.236em 50%;
    background-position: 0 50%;
  }

  /* .illustration_01 {
    background-color: #FFF0F5;
    background-image: url('../img/img2.png');
  } */


  
  .left {
    padding: 1.618em 50% 3.236em 6.472em;
    background-position: 100% 50%;
  }

  /* .illustration_02 {
    background-color: #FFFAFA;
    background-image: url("../images/minipadblack.png");
  } */
